body {
    margin: 0;
    background-color: black;
}

.container {
    background-color: black;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr;
    flex-wrap: wrap;
}

.header {
    background-color: black;
    grid-column: 1 / 6;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 2em;
}

.main {
    height: 350vw;
    background-color: black;
    grid-row: 2/ 6;
    grid-column: 1 / 6;
    align-content: center;
    align-items: center;
    gap: 5em;
    margin-top: 3em;
    margin-bottom: 5em;
}

.footer {
    height: 150;
    background-color: black;
    grid-row: 3 / 5;
    grid-column: 1 / 6;
    margin-top: 19em;
}

#logo {
    width: 10em;
    background-color: black;
}

#peliculas {
    height: 70vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1 / 10;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#documentales {
    width: 5em;
    height: 1em;
    color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2em;
}

#logos {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

#campana {
    width: 1.5em;
    height: 1.5em;
}

#lupa {
    width: 1.5em;
    height: 1.5em;
}

#opciones {
    width: 200vw;
    justify-content: center;
    align-content: center;
    font-size: 0.5em;
    margin-top: 0.5em;
    word-spacing: 1em;
    margin-left: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pelicula {
    display: flex;
    width: 9em;
    height: 7em;
    margin-right: 0.3em;
    margin-bottom: 1em;
}